body {
    background-color: #f9f7fe;
    font-family: "Roboto", sans-serif;
}

a {
    color: #885DF1;
}

.container {
    background: white;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    margin: 30px auto;
    max-width: 600px;
    padding: 30px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 30px 0;

}

.search-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    padding: 20px;
    width: 80%;
}

.search-button {
    background: #885DF1;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    margin-left: 5px;
    padding: 15px 30px;
}

main {
    padding: 15px 0;
}

.weather-app {
    display: flex;
    justify-content: space-between;
}

.weather-city {
    font-size: 38px;
    line-height: 48px;
}

.weather-data {
    color: #BBB9C3;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.weather-data strong {
    color: #F65282;
}

.temperature-reading {
    display: flex;
}

.weather-app-emoji {
    font-size: 65px;
}

.temperature {
    font-size: 80px;
    font-weight: bold; 
    line-height: 123px;
}

.degrees {
    line-height: 72px;
    margin-top: 6px;
    font-size: 28px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.weather-forecast-date {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.weather-forecast-icon {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    color: #F65282;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

footer {
    border-top: 1px solid #f9f7fe;
    color: rgba(0, 0, 0, 0.6);
    padding: 30px 0 0 0;
    text-align: center;
}